<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
   <div class="container">
       <h2>CV DataBase Profiles List</h2>   
   </div>
  
   <table class="table table-dark">
    <tr>
        <th>Name</th>
        <th>Available Form</th>
    </tr>
    {% for profile in profile %}
    <tr>
        <td> {{profile.name}}</td>
        <td>    <a href="/{{profile.id}}">Download</a></td>
    </tr>
    {% endfor %}   
</table>
    <br>
    
</body>
</html>