
<head>
 
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

</head>
<body>
    

<div class=e2_5>
    <div class="e2_6"></div>
    <div class="e2_10"></div><span  class="e2_11">  Resume Builder</span>
    <div class=e3_14><span  class="e2_12">  Enter your name :
  </span></div>
    <div class=e3_15>
      <div class="e2_13"></div>
    </div><span  class="e3_16">   City:
  </span>
    <div class=e3_17>
      <div class="ei3_17_2_13"></div>
    </div><span  class="e3_19">Email-id:
  </span>
    <div class=e3_20>
      <div class="ei3_20_2_13"></div>
    </div><span  class="e3_23">  Objective</span>
    <div class=e3_24>
      <div class="ei3_24_2_13"></div>
    </div><span  class="e3_26"> Phone No.</span>
    <div class=e3_27>
      <div class="ei3_27_2_13"></div>
    </div><span  class="e3_33">  Education details:</span>
    <div class="e3_34"></div><span  class="e3_35">College Name</span>
    <div class=e3_36>
      <div class="ei3_36_2_13"></div>
    </div><span  class="e3_38">Btech</span>
    <div class="e3_39"></div><span  class="e3_40">Percentage / CGPA</span>
    <div class=e3_41>
      <div class="ei3_41_2_13"></div>
    </div><span  class="e3_43">Intermediate</span>
    <div class="e3_44"></div><span  class="e3_46">College Name</span>
    <div class=e3_47>
      <div class="ei3_47_2_13"></div>
    </div><span  class="e3_49">Percentage / CGPA</span>
    <div class=e3_50>
      <div class="ei3_50_2_13"></div>
    </div>
    <div class="e3_58"></div><span  class="e3_52">SSC</span>
    <div class="e3_53"></div><span  class="e3_54">School Name</span>
    <div class=e3_55>
      <div class="ei3_55_2_13"></div>
    </div><span  class="e3_57">Percentage / CGPA</span>
    <div class="e3_59"></div>
    <div class="e7_64"></div><span  class="e7_68">Next ></span>
  </div>
</body>