{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Responsive CV </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <script src="{% static 'resume.js' %}"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'D:\Mini_project\ResumeBuilder\myapp\static\resume.css' %}"/>
</head>
<body>
    <div id="button">
        <button type="button"  class="btn btn-light">Download</button>
    </div>
   
    <div id="resume">
    <div class="container">
        <div class="left_Side">
            <div class="profileText">
                <br>
                <h2>{{ user_profile.name }} <br><span>Web Developer</span> </h2>
            </div>
    
            <div class="contactInfo">
                <h3 class="title">Contact Info</h3>
                <ul>
                    <li>
                        <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                        <span class="text">{{ user_profile.phone }}</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                        <span class="text">{{ user_profile.email }}</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa fa-globe" aria-hidden="true"></i></span>
                        <span class="text">www.mywebsite.com</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                        <span class="text">www.linkedin/me</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                        <span class="text">{{ user_profile.city }}</span>
                    </li>
                </ul>
            </div>
            <div class="contactInfo education">
                <h3 class="title">Education</h3>
                <ul>
                    <li>
                        <h5>2018 - 2022</h5>
                        <h4>Master Degree in Computer Science</h4>
                        <h4>{{ user_profile.university }}</h4>
                    </li>
                    <li>
                        <h5>2016 - 2018</h5>
                        <h4>MPC</h4>
                        <h4>{{ user_profile.degree }}</h4>
                    </li>
                    <li>
                        <h5>2016</h5>
                        <h4>SSC</h4>
                        <h4>{{ user_profile.school }}</h4>
                    </li>
                </ul>
            </div>
            <div class="contactInfo language">
                <h3 class="title">Languages</h3>
                <ul>
                    <li>
                        <span class="text">English</span>
                        <span class="percent">
                            <div class="englishw50" "></div>
                        </span>
                    </li>
                </ul>
                
            </div>
        </div>
        <div class="right_Side">
            <div class="about">
                <h2 class="title2">Objective</h2>
                <p>{{ user_profile.objective }}.</p>
            </div>
            <div class="about">
                <h2 class="title2">Projects</h2>
                <div class="box">
                    <div class="text">
                      
                        <p>{{user_profile.project}}</p>
                    </div>
                </div>
    
                
            </div>
            <div class="about skills">
                <h2 class="title2">Professionals skills</h2>
                <div class="box">
                    
                    {% for profile in skill %}
                   
                    <h4>{{profile}}</h4>
                    
                    {% endfor %}
                    
                </div>
                
            </div>
            <div class="about interest">
                <h2 class="title2">Interests</h2>
                <ul>
                    <li><i class="fa fa-book" aria-hidden="true"></i> Reading</li>
                    <li><i class="fa fa-gamepad" aria-hidden="true"></i> Gaming</li>
                    <li><i class="fa fa-cutlery" aria-hidden="true"></i> Cooking</li>
                    <li><i class="fa fa-microphone" aria-hidden="true"></i> Singing</li>
                </ul>
            </div>
    
        </div>
        </div>
    </div>
    </body>
    </html>