

.e2_5 { 
	overflow:hidden;
   
  
}
.e2_5 { 
	background-color:rgba(255, 255, 255, 1);
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
}
.e2_6 { 
	transform: rotate(-0.25750736947235464deg);
	width:890.0089721679688px;
	height:0px;
	position:absolute;
	left:0px;
	top:111px;
}
.e2_6 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e2_10 { 
	background-color:rgba(38.0000015348196, 70.00000342726707, 83.00000265240669, 1);
	width:890px;
	height:107px;
	position:absolute;
	left:0px;
	top:2px;
}
.e2_11 { 
	color:rgba(255, 255, 255, 1);
	width:269px;
	height:50px;
	position:absolute;
	left:310px;
	top:35px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:px;
}
.e3_14 { 
	width:176px;
	height:36px;
	position:absolute;
	left:34px;
	top:176px;
}
.e2_12 { 
	color:rgba(0, 0, 0, 1);
	width:176px;
	height:36px;
	position:absolute;
	left:0px;
	top:-6px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e3_15 { 
	width:267px;
	height:36px;
	position:absolute;
	left:227px;
	top:176px;
}
.e2_13 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:267px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_13 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_16 { 
	color:rgba(0, 0, 0, 1);
	width:99px;
	height:36px;
	position:absolute;
	left:31px;
	top:237px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e3_17 { 
	width:161px;
	height:36px;
	position:absolute;
	left:142px;
	top:237px;
}
.ei3_17_2_13 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:161px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
}
.i3_17_2_13 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_19 { 
	color:rgba(0, 0, 0, 1);
	width:99px;
	height:36px;
	position:absolute;
	left:372px;
	top:237px;
	font-family:Roboto;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e3_20 { 
	width:255px;
	height:36px;
	position:absolute;
	left:508px;
	top:237px;
}
.ei3_20_2_13 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:255px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
}
.i3_20_2_13 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_23 { 
	color:rgba(0, 0, 0, 1);
	width:99px;
	height:38px;
	position:absolute;
	left:34px;
	top:387px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e3_24 { 
	width:528px;
	height:106px;
	position:absolute;
	left:193px;
	top:387px;
}
.ei3_24_2_13 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:528px;
	height:106px;
	position:absolute;
	left:0px;
	top:0px;
}
.i3_24_2_13 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_26 { 
	color:rgba(0, 0, 0, 1);
	width:99px;
	height:36px;
	position:absolute;
	left:31px;
	top:315px;
	font-family:Roboto;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e3_27 { 
	width:161px;
	height:36px;
	position:absolute;
	left:147px;
	top:315px;
}
.ei3_27_2_13 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:161px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
}
.i3_27_2_13 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_33 { 
	color:rgba(0, 0, 0, 1);
	width:245px;
	height:34px;
	position:absolute;
	left:34px;
	top:534px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e3_34 { 
	transform: rotate(-0.21702842785882873deg);
	width:264.00189208984375px;
	height:0px;
	position:absolute;
	left:43px;
	top:575px;
}
.e3_34 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_35 { 
	color:rgba(0, 0, 0, 1);
	width:120px;
	height:36px;
	position:absolute;
	left:42px;
	top:638px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e3_36 { 
	width:413px;
	height:36px;
	position:absolute;
	left:231px;
	top:638px;
}
.ei3_36_2_13 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:413px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
}
.i3_36_2_13 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_38 { 
	color:rgba(0, 0, 0, 1);
	width:46px;
	height:50px;
	position:absolute;
	left:66px;
	top:578px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e3_39 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_39 { 
	width:112px;
	height:0px;
	position:absolute;
	left:66px;
	top:620px;
}
.e3_40 { 
	color:rgba(0, 0, 0, 1);
	width:181px;
	height:36px;
	position:absolute;
	left:42px;
	top:697px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e3_41 { 
	width:67px;
	height:36px;
	position:absolute;
	left:231px;
	top:697px;
}
.ei3_41_2_13 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:67px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
}
.i3_41_2_13 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_43 { 
	color:rgba(0, 0, 0, 1);
	width:102px;
	height:50px;
	position:absolute;
	left:55px;
	top:750px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e3_44 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_44 { 
	width:115px;
	height:0px;
	position:absolute;
	left:55px;
	top:793px;
}
.e3_46 { 
	color:rgba(0, 0, 0, 1);
	width:120px;
	height:46px;
	position:absolute;
	left:40px;
	top:809px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e3_47 { 
	width:413px;
	height:36px;
	position:absolute;
	left:231px;
	top:819px;
}
.ei3_47_2_13 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:413px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
}
.i3_47_2_13 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_49 { 
	color:rgba(0, 0, 0, 1);
	width:181px;
	height:36px;
	position:absolute;
	left:40px;
	top:877px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e3_50 { 
	width:67px;
	height:36px;
	position:absolute;
	left:231px;
	top:877px;
}
.ei3_50_2_13 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:67px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
}
.i3_50_2_13 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_58 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:67px;
	height:36px;
	position:absolute;
	left:231px;
	top:877px;
}
.e3_58 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_52 { 
	color:rgba(0, 0, 0, 1);
	width:34px;
	height:50px;
	position:absolute;
	left:61px;
	top:955px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e3_53 { 
	transform: rotate(0.6227556663272179deg);
	width:92.00543212890625px;
	height:0px;
	position:absolute;
	left:60px;
	top:992px;
}
.e353 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_54 { 
	color:rgba(0, 0, 0, 1);
	width:120px;
	height:46px;
	position:absolute;
	left:43px;
	top:1014px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e3_55 { 
	width:413px;
	height:36px;
	position:absolute;
	left:231px;
	top:1019px;
}
.ei3_55_2_13 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:413px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
}
.i3_55_2_13 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_57 { 
	color:rgba(0, 0, 0, 1);
	width:181px;
	height:36px;
	position:absolute;
	left:43px;
	top:1091px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e3_59 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:67px;
	height:36px;
	position:absolute;
	left:231px;
	top:1091px;
}
.e3_59 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e7_64 { 
	background-color:rgba(33.00000183284283, 158.00000578165054, 188.0000039935112, 1);
	width:99px;
	height:37px;
	position:absolute;
	left:670px;
	top:1138px;
}
.e7_68 { 
	color:rgba(255, 255, 255, 1);
	width:52px;
	height:50px;
	position:absolute;
	left:694px;
	top:1131px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
